### Visual Studio 
.vs/*

# Odd files
Imported Code/Sphere(1).cpp

### Debug
/Debug/
Lab1Graphics/Debug/*
Lab1Graphics/x64/Debug/*
/x64/

### Dependencies
/Dependencies/*
Imported Code/Sphere(1).cpp

*.jpg